@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic',
    sans-serif;
}
input{
    width: 400px;
    margin-top: .50em;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    color: #fff
}

select{
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    color: #fff
}

input:focus{
    outline: none
}

button{
    width: 200px;
    height: 45px;
     margin-top: .50em;
     background: #427a5b;
     border: none;
     color: #fff;
     font-size: 16px;
     cursor: pointer;

}

button:focus{
    outline: none
}

form{
    display: flex;
    justify-content: center;
    padding: 0 1em;
}
.container{
    width: 100%;
    background: #403f3f;
    height: 60px;
}

#city{
    background: transparent
}

#zip{
  width: 75px  
}

#beds{
    width: 75px
}

#baths{
    width: 75px
}
select{
    height: 45px;
    margin-top: .6em;
    color: #6D6D6D
}

main{
    margin-top: 250px;
}